* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #333333;
}

.head {
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  text-align: center;
  color: #0FFF3C;
  padding: 50px 0 0 0;
}


.unicorn {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-size: .85vw;
  text-align: center
}
.footer a {
    color: #828282;
    text-decoration: none
  }

.footer a :hover {
      color: #A6A6A6;
    }